/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: 'Poppins', sans-serif;
}

.crown-logo {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}


/* NAVBAR
  -------------------------------------------------- */
  .nav-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #navbar {
    background-color: transparent;
    transition: all 300ms linear;
  }
  
  #navbar.scrolled {
    background-color: #ffffff !important; 
    transition: background-color 200ms linear;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
  }
  
  .nav-home-btn {
    text-decoration: none;
    margin-right: auto;
    color: #ffffff;
  }
  

/* CAROUSEL
  -------------------------------------------------- */

  .carousel {
    margin-bottom: 4rem;
  }

  .carousel-item {
      height: 40rem;
  }

  .carousel-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
      .carousel-item {
          height: 20rem;
      }

      .carousel-caption {
          font-size: 0.8rem;
          bottom: 10%;
      }

      .carousel-caption h1 {
          font-size: 1.2rem;
      }

      .carousel-caption p {
          font-size: 0.9rem;
      }
  }

  @media (min-width: 769px) and (max-width: 992px) {
      .carousel-item {
          height: 30rem;
      }

      .carousel-caption {
          font-size: 1rem;
          bottom: 15%;
      }

      .carousel-caption h1 {
          font-size: 1.5rem;
      }

      .carousel-caption p {
          font-size: 1rem;
      }
  }

  @media (min-width: 993px) {
      .carousel-caption {
          font-size: 1.2rem;
          bottom: 20%;
      }

      .carousel-caption h1 {
          font-size: 2rem;
      }

      .carousel-caption p {
          font-size: 1.2rem;
      }
  }

/* FEATURETTES
  ------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
  letter-spacing: -.05rem;
  margin-bottom: 1rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-image {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (max-width: 575.98px) {
  .nav-home-btn {
    margin: auto;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

footer {
  line-height: 1.6;
}

footer a {
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #17a2b8;
}

footer .fas, footer .fab {
  transition: transform 0.3s ease-in-out;
}

footer .fas:hover, footer .fab:hover {
  transform: scale(1.2);
}

/* BUTTON CSS
  -------------------------------------------------- */
.custom-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Warna dasar biru */
  color: #fff; /* Warna teks putih */
  border: none;
  border-radius: 5px; /* Membuat sudut tombol melengkung */
  text-decoration: none; /* Menghapus garis bawah pada link */
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s; /* Efek transisi saat hover */
}

/* Hover effect */
.custom-btn:hover {
  background-color: #0056b3; /* Warna biru yang lebih gelap saat di-hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan saat di-hover */
  text-decoration: none; /* Pastikan tidak ada garis bawah */
  color: #fff; /* Warna teks putih */
}
